target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Local config / secrets ###
.env
.env.*
*.local
application-dev.yml
application-local.yml
**/application-dev.yml
**/application-local.yml
*.pem
*.key
*.p12
*.jks
*.keystore
id_rsa
id_ed25519

### Logs ###
*.log
logs/

### Go ###
bin/
coverage.out
*.test

### Rust ###
**/target/
Cargo.lock
!.idea/
